



.amin {

background-color: black;
padding: 10px;
font-size:30px ;

}


.navbar-brand{


background-color;

color|:green;


}

.amin{

    background-color: black;
    color:;
    padding:15px;
    margin: 10px;

}


 .div1{
background-color:#4192D5 ;
margin:10px ;
padding:20px;
 }

.div2{

background-color:black;
color:#fff;
font-size:30px;
margin:20px;
padding:10px;

}
.div2 h3{
  color: aqua;
}
.div3{


background-color: chartreuse;
height: 20px;
margin: 20px;
padding: ;
}
#name{

    background-color: #000;
    margin: 20px;
    padding: 20px;
    height: 400px;

}
h1{
    color:#fff;

}
span{
color:#fff;
font-size: 20px;

}